@import "partials/variables";
@import "partials/base";
@import "partials/typography";
@import "partials/transitions";
@import "partials/loading";
@import "partials/nav";
@import "partials/footer";
@import "partials/forms";
@import "partials/card";
@import "partials/home";
@import "partials/carousel";
@import "partials/scrollbars";
@import "partials/spesific";
@import "partials/searchbar";
@import "partials/messages";
@import "partials/accommodations";
