// Sorting buttons
.sorting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    &__text {
        font-weight: 700;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__buttons > button {
        border: none;
        background-color: $secondary-color;
        box-shadow: $light-boxshadow;
        color: #fff;
        padding: 8px;
        font-size: 1rem;
        cursor: pointer;
        width: 120px;        
    }


}



// Cards
.accommodation-list {
    &__description {
        display: none;
    }
}

@media only screen and (min-width: $mini-width) {
    .accommodation-list {

        &__description {
            display: block;
            font-weight: 400;
        }


        &__card > img {
            aspect-ratio: 3 / 1;
        }
    }
}

@media only screen and (min-width: $desktop-width) {
    .accommodation-list {
        &__card {
            max-width: 60%;
        }
    }
}