.container {
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__card {
        max-width: 80%;
        margin-top: 50px;
        background-color: $background-color;
        padding: 20px;
        border: solid $secondary-color;
        border-radius: 20px;
        box-shadow:  $light-boxshadow;
        color: #000;
        font-size: 1rem;
        font-weight: 600;
    }

    &__card > img{
        inline-size: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }

    &__card p, h3 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__description {
        display: none;
    }

    &__text-container {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
}