// Source: https://www.youtube.com/watch?v=3yfswsnD2sw
.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 53%;
    gap: 30px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    &__element {
        // padding: 20px;
        // background-color: white;
        // border: solid $secondary-color 1px;
        box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
        margin-bottom: 40px;
        // padding-bottom: -50px;
        margin-top: 70px;
    }

    &__element > img {
        inline-size: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
}

@media only screen and (min-width: $desktop-width) {
    .carousel {
    grid-auto-columns: 41%;

        &__element {
            margin-top: 30px;
        }

        &__element > img {
            aspect-ratio: 16 / 9;
        }
    }
}