// Errors and successes

.form-error {
    color: red;
    width: 80%;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 30px;
}

.success-styling {
    padding: 10px;
    max-width: fit-content;
    margin: 30px auto;
    border: solid 2px $success-color;
}

// Forms

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
    border: none;

    &__input {
        width: 80%;
        height: 40px;
        border: none;
        margin-bottom: 40px;
        box-shadow: $light-boxshadow;
    }

    &__message {
        height: 200px;
    }

    &__label {
        font-family: $font;
        font-size: 1rem;
        align-self: flex-start;
        margin-left: 60px;
        margin-bottom: 5px;
    }

    // checkbox

    &__checkbox-container {
        display: flex;
        gap: 50px;
        margin-bottom: 40px;
    }

    &__checkbox-container label {
        align-self: center;
        
    }

    &__checkbox {
        cursor: pointer;
        height: 40px;
        width: 40px;
        box-shadow: $light-boxshadow;
        box-sizing: content-box;
    }

    // Character counts

    &__count {
        margin-top: -70px;
        margin-bottom: 40px;
    }

    // Buttons

    &__btn {
        margin-top: 10px;
        margin-bottom: 60px;
        border: none;
        color: #fff;
        background: rgb(242,135,41);
        background: linear-gradient(0deg, rgba(242,135,41,1) 0%, rgba(191,69,42,1) 100%);
        padding: 10px;
        font-size: 1.5rem;
        box-shadow: $light-boxshadow;
        font-weight: 700;
        transition: 0.5s;
        border-radius: 0 15px;
        cursor: pointer;
    }
}