.messages-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    margin-bottom: 50px;
}

.messages {
    border: solid 3px $secondary-color;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}

input[name="handeling"] {
    display: flex;
}

.handle-lable {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: $mini-width) {
    .messages {
        width: 60%;
    }
}