// Source for the nav: https://www.youtube.com/watch?v=HbBMp6yUXO0&list=PL4-IK0AVhVjPxtv9SVKQZm_huHpDEgLz0&index=9

// Logo

.logo {
    height: 40px;
    margin: 10px 0 0 10px;
    border-radius: 15px;
}

.logo-big {
    display: none;
}

// active

.active {
    border-bottom: solid $primary-color;
    
}

// hamburger

.hamburger {
    display: none;
}

@media (max-width: $desktop-width) {
    .nav {

        &__ul {
            position: fixed;
            z-index: 1000;
            inset: -20px 0 -20px 15%;
            display: flex;
            flex-direction: column;
            padding: 60px 30px;
            background-color: $background-color;
            transform: translateX(100%);
            transition: transform 1s;
        }

        &__link {
            max-width: fit-content;
        }

        &__showMenu {
            transform: unset;
        }
    }

    .hamburger {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(../../../images/hamburger-img.png);
        width: 45px;
        height: 30px;
        border: none;
        background-repeat: no-repeat;
        top: 20px;
        right: 20px;
    }
}

.nav {

    &__link {
        text-decoration: none;
        margin-top: 30px;
        font-size: 1rem;
        color: black;
        font-weight: 600;
    }

    &__link:hover {
        color: $secondary-color;
    }
}

@media only screen and (min-width: $desktop-width) {

    .logo {
        display: none;
    }

    .logo-big {
        display: block;
        margin-top: -50px;
        margin-left: 20px;
        width: 150px;
    }

    .nav {
        margin-right: 70px;

        &__ul {
            display: flex;
            justify-content: flex-end;
            column-gap: 70px;
        }
        
    }

    .hamburger {
      display: none;
    }
}