.description {
    max-width: 80%;
    margin: auto;
}

.make-enquiery {
    border-top: solid;
}

// CTA

.cta-container {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.enquiery-cta {
    border: none;
    color: #fff;
    background: rgb(242,135,41);
    background: linear-gradient(0deg, rgba(242,135,41,1) 0%, rgba(191,69,42,1) 100%);
    padding: 10px;
    font-size: 1.5rem;
    box-shadow: $light-boxshadow;
    font-weight: 700;
    border-radius: 0 15px;
    cursor: pointer;
}

// Form
// Source: https://www.youtube.com/watch?v=3CAbXhbb2W8

.hide-name {
    display: none;
}

.modal-hide {
    display: none;
}

.form-modal-container {
    display: block;
    margin-bottom: unset;
    position: fixed;
    z-index: 10;
    top: 2.5em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    background-color: $background-color;
    box-shadow: 0 0 0 4em rgba(black, 0.6);
    overflow-y: scroll;
}

.close-hide {
    display: none;
}

.close-modal {
    display: block;
    background-color: #fff;
    border: solid 2px $primary-color;
    border-radius: 50%;
    padding: 12px 7px 7px 7px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: fixed;
    top: 1.5em;
    left: 1em;
    box-shadow: $light-boxshadow;
}

@media only screen and (min-width: $mini-width) {
    .description {
        width: 60%;
    }

    .form-modal {
        top: 3em;
        bottom: 3em;
        left: 3em;
        right: 3em;
    }
}