// Colors

$primary-color: #BF452A;
$secondary-color: #F28729;
$background-color: #f2f2f2;
$success-color: #22AE30;

// Font

$font: 'Noto Sans', sans-serif;

// widths

$desktop-width: 1024px;
$mini-width: 768px;

